$ cat .gitignore

test.py
.directory
lib.cpp
lib.cpython-36m-x86_64-linux-gnu.so
/build/
/.idea/
/__pycache__/
/CplusplusPart/*.cbp
/CplusplusPart/*.depend
/CplusplusPart/bin/
/CplusplusPart/obj/
/CplusplusPart/log/

lib_trtr.py
